h1{
    color: blue;
    text-align: center;
}
h2{
    color: #46484c;
}
p{
    color: blueviolet;
}
button{
    color: #fff;
}
body{
    background-color: rgb(168, 93, 93);
    
}
button{
    background-color: #025157;
    color: aqua;
}
form{
    color: brown;
}
.header {
    margin: 40px 20px 0px 20px;
    font-size: 0;
}
li{
    display: inline-block;
    margin-right: 25px;
    margin-left: 25px;
    color: #025157;
}
.header > *{
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    line-height: 45px;
    font-family: sans-serif;
}
.logo {   
    width: 15%;    
  }
  
.navbar {
    width: 70%;
    text-align:left;
    color: green;
}
  
.action {
    width: 15%;
    text-align: left ;
    font-size: 14px;
}

.action > *{
    padding: 0 10px 0 10px;
}

.signIn{
    color: #67b54b;
}

.botonAction{
    color: white;
    background-color: #67b54b;
    padding: 12px 14px 12px 14px;
    border-radius: 5px;
}